# -------------------------
# Miscellaneous
# -------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------
# IDEs
# -------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# -------------------------
# Flutter / Dart
# -------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub-cache/
.pub/
/build/
/coverage/

# -------------------------
# Flutter build files
# -------------------------
**/doc/api/
**/ios/Flutter/.last_build_id

# -------------------------
# Android
# -------------------------
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
android/local.properties
*.keystore
*.jks

# -------------------------
# iOS
# -------------------------
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# -------------------------
# macOS
# -------------------------
/macos/Pods/
/macos/Flutter/ephemeral/

# -------------------------
# Environment files (VERY IMPORTANT)
# -------------------------
.env